<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>编辑用户权限</title>
		<link rel="stylesheet" href="layui/css/layui.css"  media="all">
	</head>
	<body style="background-color: white;">
		<fieldset class="layui-elem-field layui-field-title layui-clear" style="margin-top: 15px;">
			<legend>编辑用户权限</legend>
		</fieldset>
		<div class="info">
			<div>
		<dt >
		<dd ><input type="checkbox" value="计调"/>计调<br /></dd>
	    <dd>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>供应商管理</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>门票</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>酒店</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>餐厅</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>车辆</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>票务</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>购物</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>地接社</dd>
				<dd>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>单团报价</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>产品管理</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>线路管理</dd>
						<dd>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>团队计划</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>组团</dd>		
				<dd><input type="checkbox" value="计调"/>导游<br /></dd>
	    <dd>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>日志</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>报销明细</dd>
		<dd>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="计调"/>照片</dd></dt>
		</div>
		</div>
		<input type="button" value="保存" class="button layui-btn" />
	</body>

</html>